<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>checkit-attendance </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/vendor/admin_welcome.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/b51d5e4e6a.js" crossorigin="anonymous"></script>
</head>

<body>
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/6238a7a8a34c2456412c220a/1fumktqoe';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  <style>
    .fas:hover,.bx:hover {  
        transform: rotate(180deg);
    }
    .fas,.bx {
        transition: transform 0.5s ease 0s;
    }
    .col-md-6.col-lg-3.d-flex.align-items-stretch:hover{
      transform: translateY(20px);
    }
    .navbar .dropdown.profile{
      width: max-content;
      padding:10px;
    }
    .navbar .dropdown.profile button{
      margin:4px;
      justify-content: center;
      text-align: center; 
    }
    
   
  </style>



  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="#"><span>CheckIt</span></a></h1>
       
    
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="home"> <img src="assets\img\animations\qr_header.gif" class="img-fluid" alt="qr animated" id="qr" ></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="#">Home</a></li>
          
          
          
          <li><a href="contact">Contact</a></li>
          

          <li class="dropdown profile" >
            <a href="#"><span style="text-transform: uppercase;">
              <%= uid%>
            </span></a>
            <ul>
              <span>profile</span>

              <a><%= fname%></a>
              <a><%= femail%></a>
                <br>
              
               <form action="/logout" method="get" class="form">
                <div class="divider d-flex align-items-center my-4">
                  <p class="text-center fw-bold mx-3 mb-0 text-muted"></p>
                </div>
               <button type="submit" class="btn btn-danger">Log out</button>
               </form>
               <br>
            </ul>
          </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


    </div>
  </header><!-- End Header -->




  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">
            Welcome  
           
            <span>
              <%= fname%>

            </span>
          </h2>
          <p class="animate__animated animate__fadeInUp"></p>
          <a  onclick="scroll_window(200,1380)" href="#" class="btn-get-started animate__animated animate__fadeInUp">Get started</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">See all Classes</h2>
          <p class="animate__animated animate__fadeInUp">check  list of assigned classes here...</p>
          <a onclick="scroll_window(200,700)" href="#" class="btn-get-started animate__animated animate__fadeInUp">Check</a>
        </div>
      </div>

    
<!-- 
      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a> -->

    </div>
  </section><!-- End Hero -->

    <main id="main">


      


      <section class="features">
        <div class="container">
  
          <div class="text-box">
                
                <div class="animate-text">
                  <div>
                    <span>CHECKIT</span>
                    <span>SCAN IT</span>
                    <span>CHECKIT</span>
                  </div>	
                </div>

          </div>
          
        </div>
      </section><!-- End Features Section -->
      

    <!-- ======= Services Section ======= -->
    
  <section class="services">
    <div class="container">
      <div class="row">
         
        <% if(typeof classes[0] == 'undefined') { %>
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Aww yeah, you successfully registered for CHECKIT. This system will start services when you provide us your curriculum details.</p>
            <hr>
            <p class="mb-0"> be sure to provide valid data to our team ,all information should be nice and tidy.We will try our Best <i class="fa-regular fa-thumbs-up"></i></p>
          </div>
          <div class="alert alert-light" role="alert">
          Contact  with our team. Give  a click <i class="fa-brands fa-teamspeak"></i><a href="contact" class="alert-link">here</a>.
          </div>
        <% } %>
        
          <% if(typeof classes[0] != 'undefined') { %>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxl-dribbble "></i></div>
              <% if(typeof classes[0].section != 'undefined') { %>
              <h4 class="title"><a href="#" class="venobox play-btn mb-4">
                <%= classes[0].section%>
              </a></h4>
              <% } %>
              <% if(typeof classes[0].class != 'undefined') { %>
              <p class="description">
                <%= classes[0].class %>
               </p>
               <% }%>
               <% if(typeof classes[0].timing != 'undefined') { %>
                <p class="description"><%= classes[0].timing%></p>
                <% }%>
            </div>
          </div>
          <% } %>
          
          <% if(typeof classes[1] != 'undefined') { %>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-file"></i></div>
              <% if(typeof classes[1].section != 'undefined') { %>
              <h4 class="title"><a href="#" >
                <%= classes[1].section%>
              </a></h4>
              <% } %>
              <% if(typeof classes[1].class != 'undefined') { %>
              <p class="description">
                <%= classes[1].class %>
               </p>
               <% }%>
               <% if(typeof classes[1].timing != 'undefined') { %>
                <p class="description"><%= classes[1].timing%></p>
                <% }%>
            </div>
          </div>
          <% } %>

          <% if(typeof classes[2]!= 'undefined') { %>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box icon-box-blue">
                <div class="icon"><i class="fas fa-pen-square"></i></div>
                <% if(typeof classes[2].section != 'undefined') { %>
                  <h4 class="title"><a href="#" ><%= classes[2].section%> </a></h4>
                  <% } %>
                  <% if(typeof classes[2].class != 'undefined') { %>
                  <p class="description"><%= classes[2].class %></p>
                   <% }%>
                   <% if(typeof classes[2].timing != 'undefined') { %>
                   <p class="description"><%= classes[2].timing%></p>
                   <% }%>
              </div>
            </div>
            <% } %>

          <% if(typeof classes[3]!= 'undefined') { %>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-tachometer "></i></div>
              <% if(typeof classes[3].section != 'undefined') { %>
                <h4 class="title"><a href="#" ><%= classes[3].section%> </a></h4>
                <% } %>
                <% if(typeof classes[3].class != 'undefined') { %>
                <p class="description"><%= classes[3].class %></p>
                 <% }%>
                 <% if(typeof classes[3].timing != 'undefined') { %>
                 <p class="description"><%= classes[3].timing%></p>
                 <% }%>
            </div>
          </div>
          <% } %>

          <% if(typeof classes[4]!= 'undefined') { %>
          <div   class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="fas fa-pen-square"></i></div>
              <% if(typeof classes[4].section != 'undefined') { %>
                <h4 class="title"><a href="#" ><%= classes[4].section %> </a></h4>
                <% } %>
                <% if(typeof classes[4].class != 'undefined') { %>
                <p class="description"><%= classes[4].class %></p>
                 <% }%>
                 <% if(typeof classes[4].timing != 'undefined') { %>
                 <p class="description"><%= classes[4].timing %></p>
                 <% }%>
            </div>
          </div>
          <% }%>

          <% if(typeof classes[5]!= 'undefined') { %>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up"data-aos-delay="300">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <% if(typeof classes[5].section != 'undefined') { %>
              <h4 class="title"><a href="#" ><%= classes[5].section%> </a></h4>
              <% } %>
              <% if(typeof classes[5].class != 'undefined') { %>
              <p class="description"><%= classes[5].class %></p>
               <% }%>
               <% if(typeof classes[5].timing != 'undefined') { %>
               <p class="description"><%=classes[5].timing%></p>
               <% }%>
            </div>
          </div>
          <% }%>

      </div>
    </section><!-- End Services Section -->

    <style>
      img {
        opacity: 0.5;
      }
      img:hover {
        opacity: 1.0;
      }
    </style>
 <br>
 <br>
<section class="features">
  <div class="container">
    
    
    <div class="text-box2">
          
          <div class="animate-text2">
            <div>
              <div class="fixed-text">
                <span>
                  <%= day %>
                </span>
                <br>
              <span>
                <%= current_subject %>
              </span>
              <br>
              <span> <%= current_section %></span>
              <br>
              <span><%= current_timing %></span>
            </div>	
          </div>
      
      

        </div>
    
  </div>
</section><!-- End Features Section -->


    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="250">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="assets\img\animations\qr_four.gif" class="img-fluid" alt="">

            <!-- <a   class="venobox play-btn mb-4"  title="click me to show qr" ></a> -->
           
            <!-- <iframe 
            src="https://www.youtube.com/embed/6H2RgARWsfw?controls=0&autoplay=1" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe> -->
          </div>

          <style>
            .col-lg-6.d-flex.flex-column.justify-content-center.p-5.icon-box.h4:hover{
              transform: translateY(-20px);
            }
          </style>
          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="fas fa-book"></i></div>
              <h4 class="title"><a href=""> Current Class </a></h4>
              <h5 class="title" ><%= current_subject %></h2>
              <h3 class="title"><i class="fa-solid fa-clock"></i>--<%=current_time %></h3>
              <p class="description"><%= current_section %> <br> -- <%= current_timing %></p>
            </div>

            <div class="icon-box" href="faculty_check">
              <div class="icon"><i class="fas fa-hourglass-half"></i></div>
              <h4 class="title"><a href="faculty_check">Check Attendance</a></h4>
              <p class="description">You can list all Students , their Attendance as well as stats</p>
            </div>
            
             
            <hr>
        
        <form action="/scan" method="POST" class="form">
            
            <button type="submit" class="btn btn-primary">Generate QR Code <i class="fas fa-sync-alt fa-spin" style="color:white"></i></button>

        </form>
        
        
        </div>

      </div>
    
        
    </div>
    </section><!-- End Why Us Section -->

   
        

 

  </main><!-- End #main -->

   <!-- ======= Footer ======= -->

   <%- include('../partials/footer') %>
   <!--  end of  footer-->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!--  Main JS File -->
  <script src="assets/js/main.js"></script>
  
  <script src="assets/js/script_sign.js"></script>
  
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  
</body>

</html>