<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>checkit-attendance </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/vendor/admin_welcome.css" rel="stylesheet">
  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="#"><span>CheckIt</span></a></h1>
       
    
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a  href="home">Home</a></li>
        
          
          <li><a href="contact">Contact</a></li>
          

               
            </ul>
          </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


    </div>
  </header><!-- End Header -->
   <style>
     .prog{
       padding:20px;
     }
     

     .far.fa-user-circle:hover {  
        transform: rotate(180deg);
    }
    .far.fa-user-circle {
        transition: transform 0.5s ease 0s;
        color:rgb(65, 144, 180);
        
    }
    
  
    .btn-group-horizontal.btn.btn-primary:hover{
    color:black;
   }
   section.breadcrumbs button:hover{
      transform: translateY(5px);
     
    }
   section.breadcrumbs button{
    transition: transform 0.5s ease 0.1s;
   }
   #presentModal{
    position: relative;
    width: 50%;
    padding:20px;
    overflow-y: auto;
  
    left:25%;
   }
   </style>

<main id="main">
    <!-- ======= breadcrumbs Section c======= -->
    
      <section class="breadcrumbs">
          <div class="container">
              <div class="d-flex justify-content-between align-items-center">
                <h2></h2>
                <ol>
                  <li>
                  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#" style="margin:3px;">Check</button>
                </li>
                <li>
                  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#" style="margin:3px;">Absent</button>
                </li>
                <li>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#presentModal" style="margin:3px;">Present</button>
                </li>
                <li>
                  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#allstudents"style="margin:3px;">Students</button>
                </li>
                <li>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"style="margin:3px;">Find</button>
                </li>           
                </ol>
              </div>
          </div>
      </section>
    
      
        <div class="container">
          <% if(typeof alert != 'undefined') { %>
            <% alert.forEach(function(error) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= error.msg %>
                    <button  type="submit" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    
                    </button>
                  </div>
            <% }) %>
        <% } %>
        </div>
    
    
     <div id="allstudents" class="collapse">
           
      <section class="features" data-aos="fade-up" date-aos-delay="300">
        <div class="container">
          <div class="section-title">
            <h2><i class="far fa-user-circle fa-lg"></i></h2>
            </div>
          <div class="btn-group-horizontal" >
            <button id="amit" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#5A">5A</button>
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#5B">5B</button>
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#5C">5C</button>
          </div>
        </div>
      </section>
    </div>
    
      <div class="container">
       
          <div id="5A" class="collapse">
            
            <table class="table "data-aos="fade-up" date-aos-delay="300">
              <thead>
                <tr>
                  <th scope="col">'5A'</th>
                  <th scope="col">Name</th>
                  <th scope="col">USN</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              
            <% for (var i =0; i <=countA;  i++ ) { %>
    
              <% if(typeof StudentsA[i] != 'undefined') { %>
                  
                  <tbody>
                      <tr>
                        <th scope="row">
                          <%=i+1%>
                        </th>
                    <td>
                    <%=  StudentsA[i].name%>
                    </td>
                    <td>
                    <%=  StudentsA[i].usn%>
                    </td>
                    <td>
                    <%=  StudentsA[i].email%>
                    </td>
                    </tr>
                    
                  </tbody>
                   
              <% } %>
             
            <%  }%>
        

            </table>
      
          </div> 
    </div>
    
     <!-- for 5B  -->
     <div class="container">
       
      <div id="5B" class="collapse">
        
        <table class="table "data-aos="fade-up" date-aos-delay="300">
          <thead>
            <tr>
              <th scope="col">'5B'</th>
              <th scope="col">Name</th>
              <th scope="col">USN</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
         
        <% for (var i =0; i <=countB;  i++ ) { %>

          <% if(typeof StudentsB[i] != 'undefined') { %>
              
              <tbody>
                  <tr>
                    <th scope="row">
                      <%=i+1%>
                    </th>
                <td>
                <%=  StudentsB[i].name%>
                </td>
                <td>
                <%=  StudentsB[i].usn%>
                </td>
                <td>
                <%=  StudentsB[i].email%>
                </td>
                </tr>
                
              </tbody>
               
          <% } %>
         
        <%  }%>
    

        </table>
  
      </div> 
     </div>
     <!-- for 5C  -->
     <div class="container">
       
      <div id="5C" class="collapse">
        
        <table class="table "data-aos="fade-up" date-aos-delay="300">
          <thead>
            <tr>
              <th scope="col">'5C'</th>
              <th scope="col">Name</th>
              <th scope="col">USN</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
         
        <% for (var i =0; i <=countC;  i++ ) { %>

          <% if(typeof StudentsC[i] != 'undefined') { %>
              
              <tbody>
                  <tr>
                    <th scope="row">
                      <%=i+1%>
                    </th>
                <td>
                <%=  StudentsC[i].name%>
                </td>
                <td>
                <%=  StudentsC[i].usn%>
                </td>
                <td>
                <%=  StudentsC[i].email%>
                </td>
                </tr>
                
              </tbody>
               
          <% } %>
         
        <%  }%>
    

        </table>
  
      </div> 
     </div>

    <!-- /// -->
    <section class="features">
    
      <!-- Modal -->
      <div id="presentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
    
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              
              <h4 class="modal-title">List of present Students<i class="fa-solid fa-calendar-check"></i></h4>
            </div>
            <div class="modal-body">
              <h1>
                i am inside h1 , here  list of present students will be displayed <i class="fa-solid fa-user"></i>
              </h1>


              <table class="table "data-aos="fade-up" date-aos-delay="300">
                <thead>
                  <tr>
                    <th scope="col">'5A'</th>
                    <th scope="col">Name</th>
                    <th scope="col">USN</th>
                    <th scope="col">Email</th>
                  </tr>
                </thead>
                
              <% for (var i =0; i <=countA;  i++ ) { %>
      
                <% if(typeof StudentsA[i] != 'undefined') { %>
                    
                    <tbody>
                        <tr>
                          <th scope="row">
                            <%=i+1%>
                          </th>
                      <td>
                      <%=  StudentsA[i].name%>
                      </td>
                      <td>
                      <%=  StudentsA[i].usn%>
                      </td>
                      <td>
                      <%=  StudentsA[i].email%>
                      </td>
                      </tr>
                      
                    </tbody>
                     
                <% } %>
               
              <%  }%>
          
  
              </table>
        

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
    
        </div>
      </div>
      <!-- end of modal -->
    
      
    
    
      </div><!-- end of modal-body -->
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
      
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Enter Keywords..</h4>
              </div>
              <div class="modal-body">
                <form  action="/search" method = "post" class="form-inline">
                        
                  <input class="form-control mr-sm-2" type="search" placeholder="Search usn.." name="id" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
      
          </div>
        
        <!-- end of modal -->
      
      </div><!-- end of modal-body -->
    
    </section><!-- End Section -->
</main><!-- End #main -->
    
  

  
   <!-- ======= Footer =======

   <%- include('../partials/footer') %>-->
   
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!--  Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/script_sign.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
  
</body>

</html>